// This is where you can import other stylesheets or write your scss code
$color-palette: (
    "card-color": #e0ddb2,
    "border-color": #dad6ab,
    "nav-foot-color": #016690,
    "white": #eee,
);

$h2-h3-size: 1.5rem;
$p-height: 1.25rem;

@import "../../node_modules/bootstrap/scss/bootstrap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    ul {
        display: flex;
        justify-content: center;
        height: 2.5rem;
        line-height: 2.5rem;
        li {
            list-style-type: none;
            padding: .5rem;
            color: map-get($color-palette, "nav-foot-color");
        }
    }
}

.hero {
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: start;
    height: 40vh;
    h1 {
        width: 80%;
        margin: 0 auto;
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
        padding: 2rem 0;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0.75rem;
    .img-card {
        background-color: map-get($color-palette, "card-color");
        padding: 1rem;
        margin: 1rem 0;
        border: 2px solid map-get($color-palette, "border-color");
        border-radius: 5px;
        .img-container {
            height: 150px;
            width: 100%;
            margin: 0 auto;
            background-size: cover;
        }
        .img1 {
            background-image: url(../images/mountain.jpg);
        }
        .img2 {
            background-image: url(../images/surfer.jpg);
        }
        .img3 {
            background-image: url(../images/tree.jpg);
        }
        .card-content {
            h2 {
                font-size: $h2-h3-size;
                font-weight: 700;
                margin: .75rem 0 0;
            }
            p {
                line-height: $p-height;
            }          
        }
    }
}

.main-section {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0.75rem;
    aside {
        border: 2px solid map-get($color-palette, "border-color");
        padding: 1rem;
        h3 {
            font-size: $h2-h3-size;
            font-weight: 700;
            margin: .75rem 0 0;
        }
        p {
            line-height: $p-height;
        }
    }
    article {
        padding: 1rem;
        h2 {
            font-size: $h2-h3-size;
            font-weight: 700;
            margin: .75rem 0 0;
        }
        p {
            line-height: $p-height;
        }
    }
}

footer {
    background-color: map-get($color-palette, "nav-foot-color");
    width: 100%;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5rem;
        li {
            list-style-type: none;
            padding: .5rem;
            a {
                color: map-get($color-palette, "white");
            }
        }
    }
}


@media (min-width: 768px) {
    nav {
        ul {
            justify-content: flex-end;
        }
    }

    .hero {
        height: 25vh;
    }

    .cards {
        margin: .5rem 5rem;
        .img-card {
            display: flex;
            .img-container {
                background-position: center;
            }
            .card-content {
                padding: 0 1rem;
                h2 {
                    margin: 0;
                }
            }
        }
        
    }

    .main-section {
        padding: 0;
        margin: 1rem 0;
        flex-direction: row;
        justify-content: center;
        aside {
            flex-basis: 25%;
            h3 {
                margin: 0;
            }
        }
        article {
            flex-basis: 45%;
            h2 {
                margin: 0;
            }
        }
    }

}

@media (min-width: 1024px) {
    .hero {
        height: 17vh;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1.5rem 0.75rem;
        .img-card {
            flex-basis: 40%;
            align-items: center;
            margin: .5rem;
            padding: .25rem 0 .25rem .5rem;
            .img-container {
                flex-basis: 80vw;
            }
        }
    }

    .main-section {
        aside {
            flex-basis: 20%;
        }
        article {
            flex-basis: 55%;
        }
    }
}